body {
  font-family: "PT Sans", sans-serif;
  color: #212121;
  line-height: 1.5;
  font-size: 16px;
}
.social_link {
  color: #1976d2;
  text-decoration: none;
}
.social_link:hover,
.social_link:focus {
  color: #ff4081;
  text-decoration: underline;
}
